# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# General
# =======

## Hadoop installation
export HADOOP_HOME="${HADOOP_HOME:-/path/to/hadoop}"
## Accumulo installation
export ACCUMULO_HOME="${ACCUMULO_HOME:-/path/to/accumulo}"
## Path to Accumulo client properties
export ACCUMULO_CLIENT_PROPS="$ACCUMULO_HOME/conf/accumulo-client.properties"

# Configuration
# =============
conf_dir=$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )
export EXAMPLES_LOG4J="${conf_dir}/log4j.properties"
if [ ! -f "$EXAMPLES_LOG4J" ]; then
  export EXAMPLES_LOG4J="${conf_dir}/log4j.properties.example"
  if [ ! -f "$EXAMPLES_LOG4J" ]; then
    echo "Could not find logj4.properties or log4j.properties.example in $conf_dir"
    exit 1
  fi
fi

# Shaded jar
# ===============
# Versions set below will be what is included in the shaded jar
export ACCUMULO_VERSION="`$ACCUMULO_HOME/bin/accumulo version`"
export HADOOP_VERSION="`hadoop version | head -n1 | awk '{print $2}'`"
export ZOOKEEPER_VERSION=3.4.13
# Path to shaded test jar
ex_home=$( cd "$( dirname "$conf_dir" )" && pwd )
export EXAMPLES_JAR_PATH="${ex_home}/target/accumulo-examples-shaded.jar"
